header {
  margin-top: 120px;
  height : 400px;
  background: #ff9900;
  color: white;
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
}

/* header>div>img {
  width: 10em;
  height: 10em;
} */



header>div>p {
  font-size:1.5em;
}
